ul {
  list-style: none;
  float: left;
  height: 360px;
  width: 240px;
  border: 2px solid red;
  border-radius: 20px;
  margin: 10px;
}

li {
  display: block;
  width: 85%;
  height: 50px;
  margin: 10px;
  background: blue;
  border-radius: 10px;
}
